<!DOCTYPE html>
<html>
<head>
<title>定时任务</title>
</head>
<body class="datatables-editor-page" data-spy="scroll" data-target="#nav-spy" data-offset="300">
<div id="rrapp" v-cloak>

	<section id="content" class="table-layout animated fadeIn">
			<div class="row" v-show="showList">
				<div class="panel panel-visible">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-tasks"></span>任务列表
						</div>
					</div>
					<div class="panel-body pn">
						<div id="example4_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
							<div class="dt-panelmenu clearfix">
								<div class="DTTT btn-group">
									<#if shiro.hasPermission("sys:schedule:save")>
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
									</#if>
									<#if shiro.hasPermission("sys:schedule:update")>
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
									</#if>
									<#if shiro.hasPermission("sys:schedule:delete")>
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
									</#if>
									<#if shiro.hasPermission("sys:schedule:pause")>
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="pause"><i class="fa fa-pause"></i>&nbsp;暂停</a>
									</#if>
									<#if shiro.hasPermission("sys:schedule:resume")>
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="resume"><i class="fa fa-play"></i>&nbsp;恢复</a>
									</#if>
									<#if shiro.hasPermission("sys:schedule:run")>
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="runOnce"><i class="fa fa-arrow-circle-right"></i>&nbsp;立即执行</a>
									</#if>
									<#if shiro.hasPermission("sys:schedule:log")>
									<a class="btn btn-default light btn-sm DTTT_button_text" style="float:right;" href="schedule_log.html">日志列表</a>
									</#if>
								</div>
								<div class="dataTables_filter">
									<input type="text" class="form-control input-sm" v-model="q.beanName" @keyup.enter="query" placeholder="请输入bean名称">
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="query"><span>搜索</span></a>
								</div>
							</div>
							<table id="jqGrid" cellspacing="0" cellpadding="0" class="table fchild-checkbox dataTable no-footer DTTT_selectable"></table>
	    					<div id="jqGridPager"></div>
	    					
						</div>
					</div>
				</div>
			</div>

			<div v-show="!showList" class="panel panel-default">
				<div class="panel panel-visible">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-cog"></span>{{title}}
						</div>
					</div>
					<div class="panel-body pn">
						<form class="form-horizontal">
							<div class="form-group">
							   	<div class="col-sm-2 control-label">bean名称</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="schedule.beanName" placeholder="spring bean名称，如：testTask"/>
							    </div>
							</div>
							<div class="form-group">
							   	<div class="col-sm-2 control-label">方法名称</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="schedule.methodName" placeholder="方法名称"/>
							    </div>
							</div>
							<div class="form-group">
							   	<div class="col-sm-2 control-label">参数</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="schedule.params" placeholder="参数"/>
							    </div>
							</div>
							<div class="form-group">
							   	<div class="col-sm-2 control-label">cron表达式</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="schedule.cronExpression" placeholder="如：0 0 12 * * ?"/>
							    </div>
							</div>
							<div class="form-group">
							   	<div class="col-sm-2 control-label">备注</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="schedule.remark" placeholder="备注"/>
							    </div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label"></div> 
								<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
								&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
							</div>
						</form>
					</div>
				</div>

			</div>

		</section>

	
</div>

<#include "/inc.html">
<script src="${request.contextPath}/statics/js/modules/job/schedule.js?_${.now?long}"></script>
</body>
</html>