<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mileworks-GEN</title>
  <meta name="keywords" content="Mileworks-Gen" />
  <meta name="description" content="Mileworks-Gen auto-generate code">
  <meta name="author" content="Mileworks">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
  <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/1.1/assets/skin/default_skin/css/theme.css">
  <link rel="shortcut icon" href="${request.contextPath}/statics/1.1/assets/img/favicon.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->
</head>

<body class="external-page external-alt sb-l-c sb-r-c">

  <!-- Start: Main -->
  <div id="main" class="animated fadeIn">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

      <!-- Begin: Content -->
      <section id="content">

        <div class="center-block mt70" style="max-width: 625px">

          <div class="row table-layout">

            <div class="col-xs-12 pln">
               <h2 class="text-dark mbn confirmation-header"><i class="fa fa-check text-success"></i> 有关MilWorks-Gen 的一点点想法：</h2>
            </div>
          </div>

          <!-- Confirmation Panel -->
          <div class="panel mt15">
              <div class="panel-body pt30 p25 pb15">          

                <p class="lh25 text-muted fs15">在每次创建新项目的时候，往往会遇到重新构建新项目，重新造轮子去做无效率的事情，这个项目在制作前期我们参考了很多相关类似的项目，要么太重，要么功能上达不到后期使用要求，最后吸取其中的精华部分。</p>

                <hr class="alt short mv25">

                <p class="lh25 text-muted fs15">
                	整个项目涉及到的技术点有 Spring Boot 框架  、MyBatis 、Shiro 、VUE等，同时提供了代码生成器，只需编写30%左右代码，其余的代码交给系统自动生成，可快速完成开发任务。我们会持续迭代这个项目，让其用在不同地方。
				</p>
    
              </div>
          </div>

        </div>
      </section>

    </section>

  </div>

  <script src="${request.contextPath}/statics/1.1/vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="${request.contextPath}/statics/1.1/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

  <!-- Theme Javascript -->
  <script src="${request.contextPath}/statics/1.1/assets/js/utility/utility.js"></script>
  <script src="${request.contextPath}/statics/1.1/assets/js/demo/demo.js"></script>
  <script src="${request.contextPath}/statics/1.1/assets/js/main.js"></script>

</body>

</html>
