<!DOCTYPE html>
<html>
<head>
<title>参数管理</title>
</head>
<body class="datatables-editor-page" data-spy="scroll" data-target="#nav-spy" data-offset="300">
	<div id="rrapp" v-cloak>
	<section id="content" class="table-layout animated fadeIn">
			<div class="row" v-show="showList">
				<div class="panel panel-visible">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-tasks"></span>参数列表
						</div>
					</div>
					<div class="panel-body pn">
						<div id="example4_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap no-footer">
							<div class="dt-panelmenu clearfix">
								<div class="DTTT btn-group">
									<a class="btn btn-default light btn-sm DTTT_button_text" tabindex="0" @click="add"><i class="fa fa-plus"></i>&nbsp;<span>新增</span></a>
									<a class="btn btn-default light btn-sm DTTT_button_text" tabindex="1" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;<span>修改</span></a>
									<a class="btn btn-default light btn-sm DTTT_button_text" tabindex="2" @click="del"><i class="fa fa-trash-o"></i>&nbsp;<span>删除</span></a>
								</div>
								<div class="dataTables_filter">
									<input type="text" class="form-control input-sm" v-model="q.key" @keyup.enter="query" placeholder="请输入用户名">
									<a class="btn btn-default light btn-sm DTTT_button_text" @click="query"><span>搜索</span></a>
								</div>
							</div>
							<table id="jqGrid" cellspacing="0" cellpadding="0" class="table fchild-checkbox dataTable no-footer DTTT_selectable"></table>
	    					<div id="jqGridPager"></div>
	    					
						</div>
					</div>
				</div>
			</div>

			<div v-show="!showList" class="panel panel-default">
				<div class="panel panel-visible">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-cog"></span>{{title}}
						</div>
					</div>
					<div class="panel-body pn">
						<form class="form-horizontal">
							<div class="form-group">
						   	<div class="col-sm-2 control-label">参数名</div>
						   	<div class="col-sm-10">
						      <input type="text" class="form-control" v-model="config.key" placeholder="参数名"/>
						    </div>
							</div>
							<div class="form-group">
							   	<div class="col-sm-2 control-label">参数值</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="config.value" placeholder="参数值"/>
							    </div>
							</div>
							<div class="form-group">
							   	<div class="col-sm-2 control-label">备注</div>
							   	<div class="col-sm-10">
							      <input type="text" class="form-control" v-model="config.remark" placeholder="备注"/>
							    </div>
							</div>
							<div class="form-group">
								<div class="col-sm-2 control-label"></div> 
								<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
								&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
							</div>
						</form>
					</div>
				</div>

			</div>

		</section>


</div>

<#include "/inc.html">
<script src="${request.contextPath}/statics/js/modules/sys/config.js?_${.now?long}"></script>
</body>
</html>